doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='google-site-verification' content='iZxXV0DmIUaqfEt33ZGe_KDc0GykzV0K4p6EctGkeDM')
  body
    block content
